.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.swiper-slide {
  flex-shrink: 0;
  width: 48% !important;
  height: 100%;
  position: relative;
  transition-property: transform;
}


.portfolio img {
  width: 33rem;
  height: 50vh;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: var(--orange);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1000;
}


.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.swiper-slide {
  flex-shrink: 0;
  width: 48% !important;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.portfolio img {
  width: 33rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Slide content */
.slide-content {
  position: relative;
}

/* Click Me label */
.click-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  background-color: var(--orange);
  color: white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  border-radius: 5px;
  pointer-events: none;
  z-index: 10;
}


@media screen and (max-width: 480px){
  .click-me {
  
    padding: 3px 10px;
    font-size: 14px !important;
    font-weight: 400 !important;

  }
  .portfolio img {
    width: 20rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
}


}



@media screen and (max-width: 400px){
  .click-me {
  
    padding: 3px 10px;
    font-size: 14px !important;
    font-weight: 400 !important;

  }
  .portfolio img {
    width: 16rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
}


}