.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
  gap: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

.githubimg{
  width: 50px;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8570dc; /* Adjust to your preferred color */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: #6b4beb; /* Darker color on hover */
  transform: scale(1.1);
}


@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }

  .f-icons {
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8570dc;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 21px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}
}

