:root
{
  --yellow: #8166ec;
    --orange : #8570dc;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(158, 90, 214, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}
.button {
  background: linear-gradient(180deg, #826ddb 26.71%, #b7abea 99.36%);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  /* overflow: hidden; */
  box-shadow: 0 4px 15px rgba(233, 228, 228, 0.2);
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(233, 227, 227, 0.3);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  background: linear-gradient(180deg, #b7abea 26.71%, #826ddb 99.36%);
  box-shadow: 0 4px 15px rgba(233, 228, 228, 0.2);
  transform: scale(1.1);
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75px;
  width: 300%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: all 1s ease;
}

.button:hover::after {
  left: 150%;
}


  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
 
  }

  

  